*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: rgb(27, 25, 25);
    display: flex;
    justify-content: space-around;
color: white;
padding-top: 50px;
position: fixed;
width: 100%;

}

/.header h1{
    padding-bottom: 60px;
    font-size: 4em;
}
.header ul{
    display: flex;
    justify-content: space-between;
    gap: 88px;
    font-size: 2em;
    list-style: none;
    padding-bottom: 1%;
}
i{
    width: 50%;
    height: 50%;
}

/* hro */

.right img{
    width: 130%;
    border-radius: 8%;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.left{
    padding-top: 180px;
}

.left h1{
    font-size: 4em;
    padding-left: 40px;
}

.left p{
    font-size: 1.9em;
    padding-left: 40px;
    padding-top: 25px;
}

.left button{
    /* padding-left: 50px; */
    margin-top: 20px;
    margin-left: 40px;
    background-color: rgb(61, 60, 60);
    color: white;
    border: none;
    border-radius: 5px;
    width: 190px;
    height: 38px;
    font-size: 1.3em;
}

.right{
    /* margin-left: 10%; */
    margin-top: 9%;
    width: 20%;
    margin-right: 15%;
    width: 25%;
    border-radius: 10px;
}


/* box */

.box1 img{
    width: 50%;
    margin-left: 60px;
    margin-top: 15px;
    /* background-color: rgb(137, 137, 138);
    border: 2px solid; */
}

.box1{
    background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px;
}

.box1 h1{
     padding-left: 30px;
}

.box1 button{
    background-color: rgb(53, 51, 51);
    color: white;
    width: 200px;
    height: 39px;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 1.3em;
}

#uuu{
    padding-left: 30px;
    padding-top: 34px;
}
#lll{
    background-color: rgb(53, 51, 51);
    color: white;
    width: 200px;
    height: 39px;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 1.3em;
}


.box2{
     background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px;
}

.box2 img{
     width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

/* box3 */

.box3{
     background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px;
}
.box3 img{
     width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

/* box4 */

.box4{
     background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px;
    margin-top: 5%;
}

.box4 img{
     width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

.box5{
      background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px;
    margin-top: 5%;
}

.box5 img{
     width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

.box6{
     background-color: rgb(255, 255, 255);
    border: 4px solid black;
    border-radius: 2px ;
    width: 300px;
    height: 350px;
    margin-left: 29px; 
    margin-top: 5%;
}

.box6 img{
     width: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 9%;
    margin-top: 10%;
}


.footer{
    background-color: rgb(57, 57, 57);
    margin-top: 10%;
    height: 78px;
    padding-left: 40%;
    /* margin-top: 10px; */
    padding-top: 20px;
    font-size: 2em;
    color: white;
    /* position: fixed; */
    width: 100%;
    left: 0;
    bottom: 0;
}